.container{
    position:relative;margin:20px auto;width:1000px;height:300px;
    overflow:hidden;
}
.wrapper{
  position:absolute;top:0;left:0;
  font-size:0;
}
.slide{width:1000px;float:left;}
.slide img{width:1000px;}
.focus{
    position:absolute;bottom:10px;left:50%;width:auto;
    transform:translateX(-50%);padding:4px;font-size:0;
    background-color:rgba(0,0,0,0.5);border-radius:10px;
}
.focus li {
    display:inline-block;width:12px;height:12px;border-radius:50%;background-color:#fff;
    margin-left:4px;cursor:pointer;
}
.focus li:first-child{margin-left:0;}
.focus li.active{background-color:red}
.arrow{
    display:none;
    position:absolute;top:50%;margin-top:-22.5px;width:28px;height:45px;
    background:url(../img/pre.png) no-repeat center center;
}
.arrowLeft{left:0;background-position: 0 0;}
.arrowRight{right:0;background-position:-50px 0;}